.block {
    border: 3px solid whitesmoke ;
    padding: 0px;    
    margin: 20px;
    min-height:120px;
    min-width: 120px;
    text-align: center;
    vertical-align: bottom;
    box-shadow: 0 0 11px rgba(33,33,33,.2);     
    position: relative;
}
.name1{
 font-weight: 500;
}