.box {
    width: 220px;
    height: 190px;
    background: white;
    display: inline-flex;
    margin: 20px;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    position: relative;
}
.box:hover {
    box-shadow: 0 0 11px blueviolet ;
  }
.inner {  

    margin-left: 20px;
    margin-top: 9px;
}
.desc
{
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 1rem;
    
}
.task
{
    display: inline-block;
    padding:6px;
    color: white;
    border-radius: 4px;  
    font-weight: 500;

}
.dateTime

{  margin-top: 27px;
    font-size: 12px;
    position: fixed;
}
p {
    margin-top: 10px;
    height: 70px;
    word-break: break-word;
}
