<div class="col-sm-12 pt-5 text-left">
        <button class="btn" (click)="onClickAddTodo()"><i style="font-size: 40px;"  class="fa fa-plus-circle"></i></button>
    
</div>
<div class="container-fluid">
    <div class="box" *ngFor="let todo of todos">
            <div class="inner" (click)="onClickEditTodoDetail(todo.id)">
                <div class="task" [ngStyle]="{'background': getColor(todo)}">{{todo.taskName.substring(0,9)}}</div>
                <div class="desc"><p> {{todo.description.substring(0,25)}}</p></div>
                <div class="dateTime"> {{todo.dateTime}}</div>
    </div>
    </div>
</div>