.navbar-light {
    .navbar-brand {
        color: #fff;
        font-size: 1.75em;
    }
    .navbar-nav {
        .active {
            .nav-link {
                color: #fff;
            }
        }
        .nav-link {
            color: rgba(255, 255, 255, .7);
            &:hover {
                color: #fff;
            }
        }
    }
}