.mycontainer {
    display: inline-block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 12px;
    cursor: pointer;
    margin-right: 15px;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked~.checkmarkYellow:after {
            display: block;
        }
        &:checked~.checkmarkGreen:after {
            display: block;
        }
        &:checked~.checkmarkRed:after {
            display: block;
        }
    }
    .checkmarkYellow:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
    .checkmarkGreen:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
    .checkmarkRed:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
}
/* Create a custom radio button */

.checkmarkGreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    &:after {
        content: "";
        position: absolute;
        display: none;
        background-color: #ccc;
    }
}

.checkmarkYellow {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color:blue;
    border-radius: 50%;
    &:after {
        content: "";
        position: absolute;
        display: none;
        background-color: #ccc;
    }
}

.checkmarkRed {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    &:after {
        content: "";
        position: absolute;
        display: none;
        background-color: #ccc;
    }
}